* {
  border: 1px solid black;
}

.game {
  background-color: #ccf;
}

.wrapper {
  width: 100%;
  height: 8vw;
}

.player {
  background-color: #cfc;
  border: 1px solid black;
  width: 8vw;
  height: 8vw;
  position: absolute;
  font-size: 300%;
}

.space {
  height: 60vh;
  font-size: 40px;
  color: red;
}

.restartButton {
  width: 10%;
  color: green;
  margin: 20px auto;
}

input {
  background-color: yellow;
  color: black;
}
